body {
   margin:0;
   padding:0;
   height:100%;
}
.bodyWrap {
  min-width:400px;
  background: url(/stylesheets/img/header-1.png) no-repeat;
  background-position-x: 50%;
}

h3 {
  font-family: Haymaker;
  font-size: 1em;
}

h2 {

  font-family: Haymaker;
  font-size: 1.5em;
}
#artist-input {
  padding-top: 10px;
  position: relative;
}
#artist {
  border-width: 2px;
  border-style: solid;
  font-weight: bolder;
  text-align: center;
}
#go {
  width: 50px;
  position: absolute;
  top: 0px;
  margin-left: 10px;
}
#title {
  position: relative;
  top: 0;
  width: 100%;
  font-family: m-brody;
  margin-top: 0px;
  font-size: 3.2em;
}

#fb_logout_button {
  right: 10px;
  top: 10px;
  position: absolute;
  font-size: 1em;
}
#container {
  padding-top:24px;
   position:relative;
   width: 400px;
   margin: 0 auto;
   text-align: center;
   min-height: 90vh;
 }

#footer {
  height: 0;
  position: absolute;
  width: 100%;  
  bottom: -18px;
}

#kitty {
  width: 100%;
}

.hidden{
    visibility: hidden;
}
.shown{
    visibility: visible;
}

.artist_image {
    cursor: pointer;
    border-radius: 25px;
    horizontal-align: center;
    border:1px solid #021a40;
    width: 100%;
}

.artist_name {
    text-align: center;
    font-style: italic;
}

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
z-index: 100;
display: none;
text-decoration: none;
}

.back-to-top i {
  font-size: 4em;
}

 @font-face { font-family: m-brody; src: url('/stylesheets/fonts/m-brody.ttf'); } 
 @font-face { font-family: Haymaker; src: url('/stylesheets/fonts/Haymaker.ttf'); } 